.reservation-form {
  margin-top:10px;
  margin-bottom: 10px;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0px;
}
  
.bottom-button {
  margin-bottom: 10px;
  background-color:#000;
  width:70%;
  height: 70px;
  font-size: 1.5em;
}
  
.bottom-button-cancel {
  margin-bottom: 10px;
  background-color:#000;
  width:70%;
  height: 70px;
  font-size: 1.5em;
}
  
  .desk-card {
    width:100%;
  }
  
  
  @media (min-width: 780px) {
  
    .new-reservation {
      margin:20px;
      font-size: 1em;
      align-content: center;
    }
  
    .reservation-form-btn {
      display:flex;
      justify-content:center;
      flex-direction:column;
    }
  
  
    .reservation-form-btn > .bottom-button, .bottom-button-cancel {
      align-self:center;
    }
  
    .desk-card {
      width:auto;
      margin:4px;
    }
  
    .list-reservation {
      background:#A2ABAB;
      display:flex;
      justify-content:center;
      flex-wrap: wrap;
    }
  }