.bar {
  background-color: black;
  position:fixed;
  z-index:999;
  bottom:0;
  width:100%;
}

.dashboard-date-btn {
  background-color: #ffe5b4;
  flex-grow:4;
}

.bottom-button {
  margin-bottom: 10px;
  background-color:#ffe5b4;
  width:100%;
}

.dashboard-date-select {
  display:flex;
  align-self:center;
}

.home-btn {
  background:black;
  color:white;
  width:100%;
  align-self:center;
}
.routes {
  width:100%;
}

.search-div {
  margin:20px;
}

title {
  display:flex;
  justify-content:center;
}



@media (min-width: 768px) {

  title {
    background-color:white;
    display:flex;
    justify-content:center;
    color:black;
    margin:0;
    
  }

  .dashboard-buttons {
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  

  .seat-form {
    display:flex;
    flex-direction:column;
  }
  
  .seat-form > button {
    width:95%;
    align-self:center;
  }

  .bar{
    position:relative;
  }

  .dashboard-date-btn {
    background-color: #ffe5b4;
    flex-grow:0;
    margin-right:10px;
    margin-bottom:10px;
    width:190px;
  }
  .home-btn {
    width:auto;
  }
}



